{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block title %}
	<h1 class="display-2 justify-content-center">Account List</h1>
{% endblock title %}

{% block content %}
{% if filter %}
<form action="" method="get" class="form form-inline">
    {% bootstrap_form filter.form layout='horizontal' %}
    {% bootstrap_button 'Get Accounts' %}
</form>
{% endif %}
{% render_table table 'django_tables2/bootstrap5-responsive.html' %}
    
{% endblock content %}

{% block js_block %}
{% endblock js_block %}